@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background: #fafafa;
}

body p {
  color: #a3a5ae;
}

main {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .wrapper {
  max-width: 80%;
}

main .wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .wrapper header .header-wrapper {
  margin: 80px 0 20px;
  text-align: center;
  max-width: 500px;
}

main .wrapper header .header-wrapper h1 {
  font-weight: 200;
  font-size: 37px;
  color: #4c4e61;
  line-height: 50px;
}

main .wrapper header .header-wrapper h1 span {
  display: block;
  font-weight: 600;
}

main .wrapper header .header-wrapper .header-description {
  margin-top: 20px;
}

main .wrapper section .box-grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

main .wrapper section .box-grid-wrapper .box-container {
  height: 250px;
  width: 350px;
  background: white;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2);
  border-top: 5px solid;
  border-radius: 10px;
  padding: 28px 30px;
  position: relative;
  margin: 15px;
}

main .wrapper section .box-grid-wrapper .box-container h2 {
  font-size: 20px;
  color: #4c4e61;
}

main .wrapper section .box-grid-wrapper .box-container p {
  margin-top: 8px;
  font-size: 13px;
  line-height: 24px;
}

main .wrapper section .box-grid-wrapper .box-container .box-illustration {
  height: 100px;
  width: 100px;
  right: 0;
  bottom: 0;
  position: absolute;
}

main .wrapper section .box-grid-wrapper .box-1 {
  border-top-color: #45d3d3;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

main .wrapper section .box-grid-wrapper .box-1 .box-illustration {
  background: url(/assets/images/icon-supervisor.svg) no-repeat;
}

main .wrapper section .box-grid-wrapper .box-2 {
  border-top-color: #ea5353;
}

main .wrapper section .box-grid-wrapper .box-2 .box-illustration {
  background: url(/assets/images/icon-team-builder.svg) no-repeat;
}

main .wrapper section .box-grid-wrapper .box-3 {
  border-top-color: #fcaf4a;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

main .wrapper section .box-grid-wrapper .box-3 .box-illustration {
  background: url(/assets/images/icon-karma.svg) no-repeat;
}

main .wrapper section .box-grid-wrapper .box-4 {
  border-top-color: #549ef2;
}

main .wrapper section .box-grid-wrapper .box-4 .box-illustration {
  background: url(/assets/images/icon-calculator.svg) no-repeat;
}

@media (min-width: 280px) and (max-width: 1024px) {
  main .wrapper header .header-wrapper h1 {
    font-size: 24px;
    line-height: normal;
  }
  main .wrapper section .box-grid-wrapper {
    margin-top: 20px;
  }
  main .wrapper section .box-grid-wrapper .box-1 {
    -webkit-transform: none;
            transform: none;
  }
  main .wrapper section .box-grid-wrapper .box-3 {
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 1025px) and (max-width: 1424px) {
  main .wrapper section .box-grid-wrapper {
    margin-bottom: 200px;
  }
}
/*# sourceMappingURL=styles.css.map */